body {
    font-family: 'PT Sans';
    margin: 0;
    letter-spacing: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #FEFFFF;
    font-size: small;
    align-items: center;
    margin: 0;
    padding: 0px 24px;
    height: 35px;
}

ul {
    list-style-type: none;
    text-indent: 0;
    display: flex;
    gap: 0px 24px;
}

.intro {
    display: flex;
    background-color: #3AAFA9;
    gap: 32px;
    align-items: center;
    padding-left: 120px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
}

.intro-left > .intro-header {
    color: white;
    font-size: 80px;
    font-family: 'Gloock';
}

.emphasis {
    color: #17252A;
}

.intro-left > .secondary-text {
    color: #17252A;
    line-height: 30px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Playfair Display;
}

button {
    background-color: #17252A;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: none; 
    outline: none;  
    padding: 4px 20px;
    border-radius: 100px;
    height: 24px;
    width: 110px;
    letter-spacing: 1px;
}

.intro > img {
    height: 350px;
    width: 700px;
    display: block;
    object-fit: cover;
}

.breaking-news {
    color: white;
    background-color: #17252A;
    letter-spacing: 1px;
}

.scroll-left > .breaking-news > .emphasis {
    color: rgb(193, 0, 0);
}

.information {
    padding: 30px 120px;
}

.information-header {
    font-weight: 1000;
    color: #1F2937;
    font-size: 30px;
    padding-bottom: 24px;
    text-align: center;
    font-family: 'Gloock';
}

.box {
    border: 2px solid #3C81F6;
    border-radius: 16px;
    height: 200px;
    width: 240px;
}

.box-text {
    width: 240px;
}

.news-type {
    color: #2B7A78;
    font-size: 12px;
    padding: 10px 0px 5px 0px;
}

.news-text {
    padding-bottom: 10px;
    font-family: Playfair Display;
    font-size: 14px;
    height: 50px;
}

.read-more {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #3AAFA9;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0px;
}

.news-cards {
    margin: 10px;
}

img {
    width: 240px;
    height: 200px;
    display: block;
    object-fit: cover;
}

.quote {
    background-color: #DEF2F1;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    padding: 30px 260px;
}

.quote-text {
    font-size: 20px;
    font-style: italic;
    font-family: Playfair Display;
}

.thor {
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
    color: #2B7A78;
}

.cta {
    display: flex;
    justify-content: space-between;
    padding: 30px 130px;
    align-items: center;
    background-color: #2B7A78;
    color: #FEFFFF;
    margin: 40px 120px;
    border-radius: 4px;
}

.cta > .container {
    padding-right: 30px;
}

.cta > .container > .header-text {
    font-family: 'Gloock';
    font-size: 40px;
    letter-spacing: 2px;
}

.cta > .container > .secondary-text {
    padding-top: 10px;
    flex-basis: 750px;
    color: #17252A;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 35px;
    font-size: small;
}

/* Code for scrolling text*/

.scroll-left {
    height: 50px; 
    overflow: hidden;
    position: relative;
    background-color: #17252A;
    }
    .scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%); 
    transform:translateX(100%);
    /* Apply animation to this element */ 
    -moz-animation: scroll-left 40s linear infinite;
    -webkit-animation: scroll-left 40s linear infinite;
    animation: scroll-left 40s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
    0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
    }