@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 0px 120px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

.secondary-text, .placeholder, .footer {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3C81F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;   
    padding: 4px 32px;
    border-radius: 8px;
    height: 32px;
    border-color: white;
}

ul {
    list-style-type: none;
    text-indent: 0;
    display: flex;
    gap: 24px;
}

.placeholder {
    background-color: grey;
    flex-shrink: 0;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 150px;
}

.intro {
    display: flex;
    background-color: #1F2937;
    padding: 60px 0px;
    gap: 32px;
    align-items: center;
    padding: 60px 120px;
}

.intro-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
}

.secondary-text {
    padding-bottom: 8px;
}

.information {
    padding: 60px 260px 80px 260px;
}

.information-header {
    font-weight: 1000;
    color: #1F2937;
    font-size: 36px;
    padding-bottom: 24px;
    text-align: center;
}

.box {
    border: 2px solid #3C81F6;
    border-radius: 16px;
    height: 200px;
    width: 200px;
}

.box-text {
    width: 200px;
    text-align: center;
    margin-top: 8px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    padding: 80px 260px;
}

.quote-text {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
}

.thor {
    text-align: right;
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: space-between;
    padding: 40px 160px;
    align-items: center;
    background-color: #3C81F6;
    margin: 60px 120px;
    border-radius: 4px;
}

.header-text {
    font-size: 20px;
    color: white; 
    font-weight: 800;  
}

.cta > button {
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 24px 0px;
}

